<?xml version="1.0" encoding="utf-8"?>
<Game xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" configVersion="1">
  <Identity Name="UnfinishedPixel.Blightstone" Publisher="CN=A7BB7A45-3333-4102-934B-D250F57B0BDE" Version="1.0.0.0" />
  <ShellVisuals DefaultDisplayName="ms-resource:PackageTitle" PublisherDisplayName="Unfinished Pixel" StoreLogo="Localization/StoreLogo.png" Square150x150Logo="Localization/Logo.png" Square44x44Logo="Localization/SmallLogo.png" Square480x480Logo="Localization/LargeLogo.png" Description="ms-resource:PackageDescription" ForegroundText="light" BackgroundColor="#000000" SplashScreenImage="Localization/SplashScreen.png" />
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <ExecutableList />
  <StoreId>9N2NCMCWWQV0</StoreId>
  <VirtualMachine />
  <MSAAppId>c19742a5-05dc-472c-afed-b18484675ca6</MSAAppId>
  <TitleId>6D2CBA30</TitleId>
  <AdvancedUserModel>false</AdvancedUserModel>
</Game>